.container{
    background-color: 
    #3bdc93;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   }
   
   .inner {
     background-color: whitesmoke;
     padding: 60px;
     padding-top: 20px;
     padding-bottom: 20px;
     border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 25%;
     height: 85%;
   }
   
     .input{
       width: 340px;
       height: 30px; 
      border: 2px solid;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 15px;
       border-radius: 6px;
       padding-left: 8px;
       padding-right: 8px;
       text-align: center;
   
     }
    p{
        font-size: 16px;
        color: #000000;
    }
     .input:focus{
       border: 2px solid black;
       outline: none;
      }
   
    .btn:hover {
       transition-duration: 300ms;
       background: black;
       color: white;
     }
    .btn {
       background: #FFFFFF;
       border-radius: 20px;
       color: black;
       outline: none;
       border: 3px solid;
       cursor: pointer;
       width: 300px;
       height: 50px;
       padding: 10px 20px;
       font-size: 25px;
       transition-duration: 300ms;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
   
   
     .welcome{
      cursor: default;
       color: black;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
     .dont{
      cursor: default;
       color: black;
       font-size: 17px;
       font-weight: 600;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
     }
     
     .images1:hover{
      transform: scale(1.1);
     }
     .images2:hover{
      transform: scale(1.1);
     }
     .images3:hover{
      transform: scale(1.1);
     }
     .appLogo{
       display: grid;
       grid-template-columns: repeat(3,1fr);

     }
     .dont2{
      color: red;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
     
     .images1{
      width: 35px;
      height: 35px;
      margin-left: 52px;
      cursor: pointer;
    }
    .images2{
      width: 35px;
      height: 35px;
      margin-left: 52px;
      cursor: pointer;
    }
    .images3{
      width: 35px;
      height: 35px;
      margin-left: 52px;
      cursor: pointer;
    }
     .logo {
      cursor: default;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: black; /* Creates a circular shape */
      border: 2px solid #000;
      color: #3bdc93; /* 2px black border */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 9rem;
      margin-top: 1%;
      font-size: 50px;
      margin-bottom: 0px;
      font-weight: 300;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .logo2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black; /* Creates a circular shape */
        border: 2px solid #000;
        color: #3bdc93; /* 2px black border */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        margin-top: 1%;
        font-size: 30px;
        font-weight: 100;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        cursor: pointer;
      }
   
      .line{
       color: black;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 14px;
       /* margin-bottom: -25px; */
       margin-top: 10px;
       font-weight: 700;
       cursor: default;
      }
      .btn:disabled{
        background-color: gray ;
      }
      .underline{
        font-weight: 700;
        cursor: default;
      }

      
      
      
      @media (max-width: 768px) {
        /* Styles for screens with 
        a maximum width of 768px */
        .container{
            width: 100%;
            height: 100%;

        }
        .input{
            width: 100%;
            font-size: 16px;
            text-align: center;
        }
        .btn {
            width: 80%;
            height: 50px;
            font-size: 25px;
        }
        .logo{
          margin-left: 5.6rem;
          font-size: 45px;
          width: 70px;
          height: 70px;
          margin-top: -5px;    
        }
        .logo2{
            margin-left: 0.5rem;
            margin-top: 0.6rem;
          }
          
          .link{
            font-size: 19px;
          }
          .inner{
            width: 62%;
            height: 65%;
          }
        
          .underline{
            font-size: 9px;
            font-weight: bolder;
          }
          .appLogo{
            margin-left: -2.5rem;
          }
      }